.btn {
  display: inline-block;     /* default, safe for buttons */
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 9999px;
  text-align: center;
  transition: all 0.3s ease;
text-decoration-line: none;
  width: auto;               /* allow width to adjust */
  max-width: 100%;           /* never exceed container */
  white-space: normal;       /* allow wrapping */
  word-break: break-word;    /* break long words if needed */
  overflow-wrap: break-word; /* older support for word breaking */
  box-sizing: border-box;    /* include padding in width */
}

.btn-blue {
  background-color: #7E4CCF;
  color: white;
}
.btn-blue:hover {
  /* background-color: #6A11CB; */
  box-shadow: #6A11CB 0px 0px 20px;
}

.btn-dark{
  background-color: #0B0E13;
  color: #8D54E8;
  border:2px solid #8D54E8;
}
.btn-dark:hover {
  background-color: #8D54E8;
  color: white;
  /* box-shadow: #6A11CB 0px 0px 20px; */
}

@media (min-width: 640px) {
  .btn {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}
